src/main/mule/salesforcemysql_Main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="salesforcemysql-config" api="salesforcemysql.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="salesforcemysql-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="salesforcemysql-config" />
    </flow>
    <flow name="get:\Customers:salesforcemysql-config">
		<flow-ref doc:name="Flow Reference" doc:id="d5a31577-2c9f-4432-b9d7-b692426ded09" name="x-salesforce_mysql_RetreiveSub_Flow"/>
    </flow>
    <flow name="post:\CreateCustomer:application\json:salesforcemysql-config">
		<flow-ref doc:name="Flow Reference" doc:id="4f587830-2089-4144-abea-ed55fbddbac0" name="X-salesforce_Mysql_POSTSub_Flow"/>
    </flow>
</mule>
